{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>FilmLovers - Películas y series</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  {% if user.is_authenticated %}
    <li><a href="{% url 'profile' user.username %}" class="orange-text">Mi perfil</a></li>
    <li><a href="{% url 'change-password' %}" class="orange-text">Cambiar contraseña</a></li>
    <li class="divider"></li>
    <li class="divider"></li>
    <li class="divider"></li>
    <li><a href="{% url 'logout' %}" class="black-text">Cerrar sesión</a></li>
  {% endif %}
</ul>
<nav class="black">
  <div class="nav-wrapper">
    <a href="{% url 'index' %}" class="brand-logo orange-text">FilmLovers</a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->

    {% if user.is_authenticated %}
      <li><a class="dropdown-trigger orange-text" href="#!" data-target="dropdown1">{{ user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
    
    {% else %}
      <li><a class="orange-text" href="{% url 'login' %}">Iniciar sesión</a></li>
    {% endif %}

    </ul>
  </div>
</nav>

  {% block banner %}
  {% endblock %}

  <div class="container">
    <div class="section">

  {% block content %}
  {% endblock %}

    </div>
  </div>

  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="orange-text">Más que un portal, una experiencia cinematográfica única.</h5>
          <p class="grey-text text-lighten-4">¡Descubre el mundo del cine con nuestro portal! Explora, valora y comparte tus películas favoritas. Sé parte de nuestra comunidad cinéfila. 🎬✨</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="orange-text">Contáctanos mediante:</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/?locale=es_ES">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/home?lang=es">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2023 - FilmLovers / Aaron Bresser
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

 
  </body>
</html>

<script>
  $(document).ready(function(){
    $('.dropdown-trigger').dropdown();
    $('.carousel.carousel-slider').carousel({
      fullWidth: true,
      indicators: true
    });
  });
</script>