{% extends 'base.html' %}
{% load static %}



{% block banner %}

    <div id="index-banner">
    <div class="section no-pad-bot">
      <div class="container center-align">
        <h1 class="header orange-text">#{{ genre }}</h1>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
      <!--   Icon Section   -->
      <div class="row">


        {% for movie in movie_data %}
          <div class="col s12 m3">
            <div class="card">
              <div class="card-image">
                <a href="{% if movie.imdbID %} {% url 'movie-details' movie.imdbID %} {% endif %}"><img style="height: 30rem;" src="{{ movie.Poster.url }}"></a>
              </div>
              <div class="card-content" style="height: 13rem;">
                <span class="card-title"><b>{{ movie.Title }}</b></span>
                <span class="right"><i class="material-icons">date_range</i>{{ movie.Year }}</span>
                <p><b>{{ movie.Type }}</b></p>
              </div>
            </div>
          </div>
        {% endfor %}

      <div class="col s12 m12 center-align">

      {% if movie_data.has_previous %}
        <a href="?page={{ movie_data.previous_page_number }}" class="waves-effect waves-light btn black orange-text"><i class="material-icons left">arrow_back</i>Volver</a>
      {% endif %}

      {% if movie_data.has_next %}
      <a href="?page={{ movie_data.next_page_number }}" class="waves-effect waves-light btn black orange-text"><i class="material-icons left">add</i>Ver más</a>
      {% endif %}

    
    

      <div>

      </div>

    </div>
  </div>
{% endblock %}